* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#heading {
    margin: 50px;
    display: flex;
    justify-content: center;
    /* Horizontal centering */
    align-items: center;
    /* Vertical centering */
    height: 100vh;
    /* Adjust the height as needed */
}

h1 {
    text-align: center;
    margin-bottom: 2vw;
    /* Add margin between h1 and parent div */
}

.parent_div {
    margin: 5px;
    max-width: 100vw;
    /* Use max-width to limit width to the viewport */
    width: 100%;
    /* Add 100% width */
    height: 800px;
    display: flex;
    /* flex-wrap: nowrap; */
    align-items: flex-end;
    border: 10px solid black;
    justify-content: center;
}

.inner_div {
    margin: 15px;
    background-color: #3498db;
    color: #ffffff;
    text-align: center;
    flex: 1;
}

.btn {
    width: 200px;
    /* Adjust the width as needed */
    height: 50px;
    /* Adjust the height as needed */
    padding: 10px 20px;
    /*  Adjust the padding as needed (top and bottom, left and right) */
    font-size: 18px;
    /* Adjust the font size as needed */
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
}
@media (max-width: 768px) {
    #heading {
        margin: 20px; /* Adjust margins for smaller screens */
    }

    h1 {
        font-size: 24px; /* Adjust font size for smaller screens */
    }

    .parent_div {
        height: auto; /* Allow content to determine height */
    }

    .inner_div {
        margin: 10px; /* Adjust margins for smaller screens */
    }

    .btn {
        width: 100%; /* Make buttons full width on mobile */
    }
}
